<%
  var _default = config['default'];
  for ( var key in _default ) {
     if ( !CONFIG[key]  ) { %>
<p><%= key %>をdefaultに合わせました。</p>
<%      CONFIG[key] = _default[key]
    }
  }
%>

<!-- <p>サイト名　　　　　　:　<%= CONFIG['siteName'] %></p>
<p>タイトル　　　　　　:　<%= CONFIG['title'] %></p>
<p>ディスクリプション　:　<%= CONFIG['description'] %></p>
<p>キーワード　　　　　:　<%= CONFIG['keyword'] %></p>
<p>ＵＲＬ　　　　　　　:　<%= CONFIG['url'] %></p>
<p>ＯＧＰＩＭＧ　　　　:　<%= CONFIG['ogpImg'] %></p>
<p>ＣＳＳパス　　　　　:　<%= CONFIG['cssPath'] %></p> -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><%if(CONFIG["title"]){%><%=CONFIG['title']%>-<%=CONFIG["siteName"]%><%}else{%><%= CONFIG["siteName"]%><%}%></title>
  <meta name="description" content="<%= CONFIG['description'] %>" />
  <meta name="keyword" content="<%= CONFIG['keyword'] %>" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
  <link rel="stylesheet" href="<%= CONFIG['cssPath'] %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  <!-- <script src="./js/bundle.js"></script> -->
  <!-- <script src="./js/all.min.js"></script> -->