<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["index"]}); %>
  <script type="application/ld+json">
  {
      "@context" : "http://schema.org/",
      "@type":"WebPage",
      "@id": "https://youlog.net/dist-3rd-last/",
      "name":"TOP-練習用サイト",
      "description":"TOPのディスクリプションです。"
  }
  </script>
</head>

<body class="ly_bgImg" style="background-image: url('./img/backgroungImage@2x.jpg');">

  <!-- HEADER -->
  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>
  <!-- HEADER -->


  <main>

    <!-- FIRST VIEW -->
    <section class="ly_noRepeatBgImg bl_firstView" style="background-image: url('./img/first-view_top_bgImg@2x.jpg');">
      <div class="ly_container ly_container__paddingContents">
        <div class="bl_firstView_inner">
          <h1 class="bl_firstView_ttl">
            <img class="bl_firstView_ttlImg" src="./img/title@2x.png" alt="世界最長の叙事詩をピーター・ブルック以来の全編舞台化 完全版マハーバラタ">
          </h1>
          <div class="bl_firstView_row">
            <figure class="bl_firstView_schedule">
              <img class="bl_firstView_scheduleImg" src="./img/schedule@2x.png" alt="2020年7月4日～7日なかのZERO大ホール">
            </figure>
            <div class="bl_firstView_info">
              <p class="bl_firstView_txt">
                小池博史ブリッジプロジェクトが2013年から2020年までの8カ年計画で臨む、インド古代叙事詩「マハーバーラタ」の全編舞台作品化計画。いよいよその集大成である完全版マハーバーラタの公演が決定！！
              </p>
              <p class="bl_firstView_txt">
                アジア各国のアーティストらが共同で取り組み、発展を遂げる本事業はアジア、そして世界へ向けてビッグウェーブを起こす。タイと日本から世界へと発信する本作。どうぞお見逃しなく！
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / FIRST VIEW -->

    <!-- FIRST VIEW BTN -->
    <%# ----------------_first-view-btnを読み込む---------------- %>
    <%- include('./_first-view-btn.ejs') %>
    <!-- FIRST VIEW BTN -->

    <!-- INTRODUCTION -->
    <section class="ly_container ly_container__paddingContents bl_introduction">
      <div class="bl_introduction_outer" style="background-image: url('./img/introduction_bgImg@2x.png');">
        <h2 class="el_h2 bl_introduction_h2">INTRODUCTION</h2>
        <h3 class="bl_introduction_h3">なぜ今「マハーバーラタ」なのか？</h3>
        <div class="bl_introduction_row">
          <p class="bl_introduction_txt">
            「平和」について改めて考えるストーリー全世界を司るものが神だとすれば、なぜ神であるクリシュナは、策を巡らしてまで、登場人物すべてを滅亡へと導いたのか？<br>
            それは、「戦い」そのものを廃絶しようとしたからだと考えられる。戦うことそのものへの虚しさ、「戦い」そのものの「悪」を問う物語が「マハーバーラタ」と言える。<br>
            平和とは？私たちには何ができるのか？根源的な「平和」を希求する物語。
          </p>
          <p class="bl_introduction_txt">
            現代社会を映し出す人間ドラマ対難民問題やヘイトスピーチ問題に見られるように、文化的背景が「異」なるものに対して非寛容になりつつある現代社会。<br>
            神の血を引きながらも、現代人同様に欲望や嫉妬によって争う登場人物たちが破滅していく様を描いた「マハーバーラタ」のストーリーは、人類が歩んできた争いの歴史の物語とも言い換えられる。<br>
            非寛容による悲劇の物語である「マハーバーラタ」を現代社会に重ね合わせつつ描くことで「寛容」の重要性を示す。
          </p>
        </div>
      </div>
    </section>
    <!-- / INTRODUCTION -->

    <!-- NEWS -->
    <%# ----------------_news-smallを読み込む---------------- %>
    <%- include('./_news-small.ejs') %>
    <!-- / NEWS -->

    <!-- STORY -->
    <section class="ly_noRepeatBgImg bl_story_wrapper" style="background-image: url('./img/story_bgImg@2x.jpg');">
      <div class="ly_container ly_container__paddingContents bl_story">
        <h2 class="el_h2">STORY</h2>
        <div class="bl_story_inner">
          <div class="bl_story_contArea">
            <div class="bl_story_headingArea">
            </div>
            <!-- / .btn_story_headingArea -->
            <div class="bl_story_txtArea">
              <p>
                マハー（偉大な）、バーラタ（バラタ族）、つまり「偉大なバラタ族」の物語。神々が人間界を作り出すところから始まり、バラタ族の中のクル家とパーンドゥ家という二つの部族間の対立を巡るストーリー。神の血を引く個性豊かな登場人物たちによる差別、対立、欲望、嫉妬など、生の苦しみが描かれ、最終的には一族が破滅していく。
              </p>
              <p>
                世界的な文学作品古代ギリシャの「イーリアス」「オデュッセイア」と並ぶ世界三大叙事詩の一つに数えられており、「ラーマーヤナ」と双璧を成すインド二大叙事詩の一つ。原語はサンスクリット語であるが、全18巻、10万詩節を超えるその長さは聖書の約4倍と言われ、原典の日本語訳はいまだ完結していない。
              </p>
              <p>
                インドだけでなくアジア全般で広く知られた作品であり、TVドラマや映画の原案として使われることも多い。全編舞台化の難しさ日本では、イギリスの演出家ピーター・ブルックがワールドツアーの一環として1988年6月に銀座セゾン劇場で上演。三部作であったが、上演時間は9時間にも及んだ。
              </p>
              <p>
                日本人の作品としては演出家・宮城聰が『マハーバーラタ～ナラ王の冒険』や歌舞伎作品『極付印度伝マハーバーラタ戦記』として、「マハーバーラタ」の長大なストーリーの一部分を舞台化した。全編上映はブルック以外にめぼしい作品は世界的にも存在しない。
              </p>
            </div>
            <!-- / .btn_story_txtArea -->
          </div>
          <!-- / .bl_story_contArea -->
          <div class="bl_story_btn">
            <a class="el_btn" href="./story.html">もっと詳しく</a>
          </div>
          <!-- / .bl_story_btn -->
        </div>
        <!-- / .bl_story_inner -->
      </div>
      <!-- / .bl_story -->
    </section>
    <!-- / STORY -->

    <!-- COMMENTS -->
    <%# ----------------_comments-topを読み込む---------------- %>
    <%- include('./_comments-top.ejs') %>
    <!-- / COMMENTS -->

    <!-- CAST -->
    <%# ----------------_cast-topを読み込む---------------- %>
    <%- include('./_cast-top.ejs') %>
    <!-- / CAST -->

    <!-- SCHEDULE -->
    <%# ----------------_scheduleを読み込む---------------- %>
    <%- include('./_schedule.ejs') %>
    <!-- / SCHEDULE -->

  </main>

  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- / FOOTER -->

</body>

</html>