<!DOCTYPE html>
<html lang="ja">

<head>
  <%# ##_headを読み込み## %>
  <%- include('./_head.ejs', {CONFIG: config["index"]}); %>
  <script type="application/ld+json">
  {
      "@context" : "http://schema.org/",
      "@type":"WebPage",
      "@id": "https://www.nishikatakai-sekkotuin.com/",
      "name":"前橋市の西片貝接骨院 | 肩こり、首こり、腰痛、頭痛、便秘等の痛み改善",
      "description":"肩こり、首こり、腰痛、頭痛等の痛み改善に定評のある接骨院。ヘッドマッサージによる頭痛改善。はり治療による便秘改善。美肌効果の高い美容鍼受け放題サービス有り。月曜～土曜10時～20時施術可（水曜10時～15時）。施術実績10,351人/10年以上、国家資格保有。"
  }
  </script>
</head>

<body>

  <!-- HEADER -->
  <%# ----------------_headerを読み込む---------------- %>
  <%- include('./_header.ejs') %>
  <!-- HEADER -->


  <main>

    <!-- FIRST VIEW -->
    <section class="ly_noRepeatBgImg" style="background-image: url('./img/fv_bgimg01.jpg');">
      <div class="bl_firstView">
        <div class="bl_firstView_mainGroup">
          <figure class="bl_firstView_ttl">
            <img class="bl_firstView_ttlImg" src="./img/fv_txt.png"
              alt="施術者数10,351人以上/施術者数10,351人以上/施術経験10年以上。今ある痛みを改善したい。私達にご相談ください！「肩こり、首こりからくる頭痛」「体調不良からくる便秘」の相談も歓迎いたします！">
          </figure>
          <div class="bl_firstView_intro">
            <div class="bl_firstView_profiles">
              <div class="bl_firstView_profile">
                <figure class="bl_firstView_profileFigure el_picture100">
                  <img class="bl_firstView_profileImg" src="./img/fv_staff_circle_img01.png" alt="院長：金田雄一郎（柔道整復師）の写真">
                </figure>
              </div>
              <div class="bl_firstView_profile">
                <figure class="bl_firstView_profileFigure el_picture100">
                  <img class="bl_firstView_profileImg" src="./img/fv_staff_circle_img02.png" alt="スタッフ：金田友美（フットケア）の写真">
                </figure>
              </div>
              <div class="bl_firstView_profile">
                <figure class="bl_firstView_profileFigure el_picture100">
                  <img class="bl_firstView_profileImg" src="./img/fv_staff_circle_img03.png" alt="スタッフ：設楽和也（鍼灸師）の写真">
                </figure>
              </div>
            </div>
            <!-- / bl_firstView_profiles -->
            <div class="bl_firstView_qualificationArea">
              <figure class="bl_firstView_qualificationTtl">
                <img class="bl_firstView_qualificationTtlImg" src="./img/fv_license_ttl_img01.png"
                  alt="柔道整復師、鍼灸師等の国家資格保有者在籍!!">
              </figure>
              <div class="bl_firstView_qualifications">
                <div class="bl_firstView_qualification">
                  <figure class="bl_firstView_qualificationFigure el_picture72">
                    <img class="bl_firstView_qualificationImg" src="./img/fv_license_img01.jpg" alt="資格証（柔道整復師）の画像">
                  </figure>
                </div>
                <div class="bl_firstView_qualification">
                  <figure class="bl_firstView_qualificationFigure el_picture72">
                    <img class="bl_firstView_qualificationImg" src="./img/fv_license_img02.jpg" alt="資格証（整体セラピスト）の画像">
                  </figure>
                </div>
                <div class="bl_firstView_qualification">
                  <figure class="bl_firstView_qualificationFigure el_picture72">
                    <img class="bl_firstView_qualificationImg" src="./img/fv_license_img03.jpg" alt="資格証（はり師）の画像">
                  </figure>
                </div>
              </div>
              <!-- / bl_firstView_qualifications -->
            </div>
            <!-- / bl_firstView_qualificationArea -->
          </div>
          <!-- / bl_firstView_group -->
        </div>
        <!-- / bl_firstView_group -->
        <div class="bl_firstView_icons">
          <div class="bl_firstView_icon">
            <figure class="bl_firstView_iconFigure el_picture43">
              <img class="bl_firstView_iconImg" src="./img/fv_icon01.jpg" alt="駐車場6台完備">
            </figure>
          </div>
          <div class="bl_firstView_icon">
            <figure class="bl_firstView_iconFigure el_picture43">
              <img class="bl_firstView_iconImg" src="./img/fv_icon02.jpg" alt="月曜～土曜20時まで受付※水曜は除く">
            </figure>
          </div>
          <div class="bl_firstView_icon">
            <figure class="bl_firstView_iconFigure el_picture43">
              <img class="bl_firstView_iconImg" src="./img/fv_icon03.jpg" alt="お昼時も施術できます">
            </figure>
          </div>
          <div class="bl_firstView_icon">
            <figure class="bl_firstView_iconFigure el_picture43">
              <img class="bl_firstView_iconImg" src="./img/fv_icon04.jpg" alt="医療助成制度利用可能">
            </figure>
          </div>
          <div class="bl_firstView_icon">
            <figure class="bl_firstView_iconFigure el_picture43">
              <img class="bl_firstView_iconImg" src="./img/fv_icon05.jpg" alt="交通事故、労災対応可能">
            </figure>
          </div>
        </div>
        <!-- / bl_firstView_icons -->
      </div>
      <!-- / bl_firstView_inner -->
    </section>
    <!-- / FIRST VIEW -->


    <!-- 当院ではコロナウィルス対策をしっかりと行っています！ -->
    <section id="id_corona" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">コロナウィルス対策を<br>しっかりと行っています！</h2>
      <div class="bl_colUnit bl_colUnit__cols21">
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper">
              <img alt="マスク着用、消毒、換気、手指の消毒、検温、ソーシャルディスタンス、お客様が重なり合わないように予約の調整" src="./img/coronavirus_bn01.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <span class="hp_bold">【その他、当院で行っているコロナ対策】</span>
            <ul class="bl_ul">
              <li class="bl_li">店内入り口にアルコール消毒液設置</li>
              <li class="bl_li">スリッパ、ソファ、トイレ、取って、ドアノブのアルコール消毒</li>
              <li class="bl_li">1日2回以上のアルコール消毒込みのトイレ掃除</li>
              <li class="bl_li">店内の十分な換気＆空気清浄機設置</li>
              <li class="bl_li">etc</li>
            </ul>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
    </section>
    <!-- / 当院ではコロナウィルス対策をしっかりと行っています！ -->

    <!-- 当院のコンセプト -->
    <section id="id_concept" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">当院のコンセプト</h2>
      <div class="bl_colUnit bl_colUnit__cols21_noMarginBottom">
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="" src="https://placehold.jp/150x50.png">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            当院のコンセプトは『体資本主義』です。<br>
            <span class="hp_cRed hp_bold">痛みからの早期回復と痛みの出ない体づくり</span>を提供し、地域医療のかかりつけ接骨院となれるよう、これからも地域社会に貢献してまいります。
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
    </section>
    <!-- / 当院のコンセプト -->


    <!-- 西片貝接骨院の院長・スタッフ紹介 -->
    <section id="id_staff" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">西片貝接骨院の<br>院長・スタッフ紹介</h2>
      <div class="bl_colUnit bl_colUnit__col3Scroll">
        <div class="bl_colItem">
          <div class="bl_profile">
            <figure class="bl_profile_figure el_picture56">
              <img alt="院長：金田雄一郎（柔道整復師）の写真" src="./img/staff_img01.jpg">
            </figure>
            <p class="bl_profile_name">金田雄一郎</p>
            <p class="bl_profile_status">院長：柔道整復師</p>
            <p class="bl_profile_txt">
              当院のホームページをご覧いただきありがとうございます。私は県内大手の接骨院グループで院長をやった後、東京の接骨院で研修を重ね、平成28年7月に当院を開院致しました。<br>
              「心で診る」は私の治療理念です。お困りの事が有りましたらお気軽にご相談ください。
            </p>
          </div>
          <!-- /.bl_profile -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_profile">
            <figure class="bl_profile_figure el_picture56">
              <img alt="スタッフ：金田友美（フットケア）の写真" src="./img/staff_img02.jpg">
            </figure>
            <p class="bl_profile_name">金田友美</p>
            <p class="bl_profile_status">スタッフ：フットケア</p>
            <p class="bl_profile_txt">元気が取り柄の受付嬢(笑)
              体が辛いと思ったときに思い出して来てもらえる接骨院を目指して日々営業中です。<br>
              皆様にとってリラックス出来る空間になればと心掛けています。さんの痛みの緩和に役立てればと癒しの施術(リフレクソロジー)を日々勉強中！
            </p>
          </div>
          <!-- /.bl_profile -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_profile">
            <figure class="bl_profile_imgWrapper  el_picture56">
              <img alt="スタッフ：設楽和也（鍼灸師）の写真" src="./img/staff_img03.jpg">
            </figure>
            <p class="bl_profile_name">設楽和也</p>
            <p class="bl_profile_status">スタッフ：鍼灸師</p>
            <p class="bl_profile_txt">初めての方でも安心できる全身鍼治療や女性に人気な美容鍼、その他手技によるマッサージなども担当しています。<br>
              東洋医学・西洋医学、双方から患者さんの体の状態を診て、症状回復と健康増進のお手伝いをさせていただきます。
            </p>
          </div>
          <!-- /.bl_profile -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3Scroll -->
    </section>
    <!-- / 西片貝接骨院の院長・スタッフ紹介 -->


    <!-- 患者様からいただいた感謝の声をご紹介 -->
    <section id="id_customerVoice" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">患者様からいただいた<br class="hp_spExist">感謝の声</h2>
      <div class="bl_colUnit bl_colUnit__col3Scroll">
        <div class="bl_colItem">
          <div class="bl_group1">
            <div class="bl_group1_ttlWrapper">
              <p class="bl_group1_ttl">「設備も新しくキレイで安心」</p>
            </div>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様の写真01" src="./img/patient_photo_img01.jpg">
            </figure>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様直筆の感謝の声01" src="./img/patient_voice_img01.jpg">
            </figure>
            <p class="bl_group1_txt">
              足の指を痛めて来院しました。テーピングでキレイに固定していただき、普段の生活でも歩くのがとても楽になりました。<br>
              中の設備も新しくキレイで安心して来院できました。
              また行こうと思える接骨院です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <div class="bl_group1_ttlWrapper">
              <p class="bl_group1_ttl">「来院するたびに体が軽くなり…」</p>
            </div>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様の写真02" src="./img/patient_photo_img02.jpg">
            </figure>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様直筆の感謝の声02" src="./img/patient_voice_img02.jpg">
            </figure>
            <p class="bl_group1_txt">
              最初は指の脱臼でお世話になり、最近は膝の痛みで通院していますが、来院するたびに体が軽くなりキモチよくなりありがたいです。アリガトウさん
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <div class="bl_group1_ttlWrapper">
              <p class="bl_group1_ttl">「痛みが5回目の治療でとれました」</p>
            </div>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様の写真03" src="./img/patient_photo_img03.jpg">
            </figure>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="患者様直筆の感謝の声03" src="./img/patient_voice_img03.jpg">
            </figure>
            <p class="bl_group1_txt">
              脇腹の痛みが5回目の治療で取れました。利用したい接骨院です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3Scroll -->
    </section>
    <!-- / 患者様からいただいた感謝の声をご紹介 -->


    <!-- 同じ志を持つ仲間からの数え切れない推薦の声 -->
    <section id="id_recommendVoice" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">同じ志を持つ仲間からの<br class="hp_spExist">推薦の声</h2>
      <div class="bl_colUnit bl_colUnit__col2Scroll">
        <div class="bl_colItem">
          <div class="bl_recommendVoice">
            <div class="bl_recommendVoice_imgWrapper">
              <figure class="bl_recommendVoice_figure el_picture56">
                <img alt="おさだ接骨院：長田亮院長の写真" src="./img/recommendation_photo_img01.jpg">
              </figure>
            </div>
            <div class="bl_recommendVoice_infoArea">
              <h3 class="bl_recommendVoice_ttl">「なんと言っても人柄が良く、誰とでも気さくに話せるタイプ」</h3>
              <p class="bl_recommendVoice_name">おさだ接骨院：長田亮院長</p>
              <p class="bl_recommendVoice_txt">
                金田先生とは専門学校で一緒に学ばさせていただきました。彼の性格は、なんと言っても人柄が良く、誰とでも気さくに話せるタイプで、同期の仲間からとても慕われていました。
                <br>
                治療技術はケガを診るだけでなく、整体のテクニックや体の使い方、リハビリの仕方についても分かり易く丁寧に教えているところが素晴らしいポイントです。自信を持ってお勧め致します。
              </p>
            </div>
          </div>
          <!-- /.bl_recommendVoice -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_recommendVoice">
            <div class="bl_recommendVoice_imgWrapper">
              <figure class="bl_recommendVoice_figure el_picture56">
                <img alt="桐生ひろさわ整骨院：石川弘樹院長の写真" src="./img/recommendation_photo_img02.jpg">
              </figure>
            </div>
            <div class="bl_recommendVoice_infoArea">
              <h3 class="bl_recommendVoice_ttl">「業界で10年以上の臨床経験があり、様々なケガや痛みに対して親切丁寧に対応してくれる先生」</h3>
              <p class="bl_recommendVoice_name">桐生ひろさわ整骨院：石川弘樹院長</p>
              <p class="bl_recommendVoice_txt">
                金田院長とは修行先が一緒で当時大変お世話になりました。西片貝接骨院を開院する以前からこの業界で10年以上の臨床経験があり、様々なケガや痛みに対して親切丁寧に対応してくれる先生です。<br>
                また多角的な視野で、様々な体の悩みを抱えた患者さんを癒してきました。<br>
                私自身も当時技術指導を受けた事もあり、その腕を信頼しています！尊敬出来る先輩であり、施術家です。皆さんにオススメの接骨院です！
              </p>
            </div>
          </div>
          <!-- /.bl_recommendVoice -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_recommendVoice">
            <div class="bl_recommendVoice_imgWrapper">
              <figure class="bl_recommendVoice_figure el_picture56">
                <img alt="こばやし鍼灸接骨院：寺内佑甫さんの写真" src="./img/recommendation_photo_img03.jpg">
              </figure>
            </div>
            <div class="bl_recommendVoice_infoArea">
              <h3 class="bl_recommendVoice_ttl">「ケガやリハビリだけでなく、心の悩みも一緒に治してくれる、そんな頼れる先生です！」</h3>
              <p class="bl_recommendVoice_name">こばやし鍼灸接骨院：寺内佑甫さん</p>
              <p class="bl_recommendVoice_txt">
                金田先生とは、私が勤務している接骨院の院長先生と知り合いで、それがきっかけで少しの間、現場でご一緒いたしました。<br>
                とても面倒見の良い方で、私が施術のやり方を悩んでいた時も気にかけてくださり、勇気づけてくれました。兄貴肌な部分もあり、人のモチベーションを高めてくれる方だと思います！<br>
                ケガやリハビリだけでなく、心の悩みも一緒に治してくれる、そんな頼れる先生です！
              </p>
            </div>
          </div>
          <!-- /.bl_recommendVoice -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3Scroll -->
    </section>
    <!-- / 同じ志を持つ仲間からの数え切れない推薦の声 -->

    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- こんなお悩みございませんか？ -->
    <section id="id_symptoms" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">こんなお悩み<br class="hp_spExist">ございませんか？</h2>
      <div class="bl_symptoms_block">
        <div class="bl_colUnit bl_colUnit__col24">
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img01.png" alt="腰痛、ぎっくり腰のイメージ">
              </figure>
              <p class="bl_symptoms_txt">腰痛・ぎっくり腰</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img02.png" alt="肩こり、四十肩のイメージ">
              </figure>
              <p class="bl_symptoms_txt">肩こり・四十肩</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img03.png" alt="首こり、むち打ちのイメージ">
              </figure>
              <p class="bl_symptoms_txt">首こり・むち打ち</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img04.png" alt="頭痛、めまいのイメージ">
              </figure>
              <p class="bl_symptoms_txt">頭痛・めまい</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
        </div>
        <!-- /.bl_colUnit bl_colUnit__col4 -->
      </div>
      <!-- /.bl_symptoms_block -->

      <div class="bl_symptoms_block hp_tabExist">
        <div class="bl_colUnit bl_colUnit__col3">
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img05.png" alt="成長痛のイメージ">
              </figure>
              <p class="bl_symptoms_txt">成長痛</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img06.png" alt="脱臼、肉離れのイメージ">
              </figure>
              <p class="bl_symptoms_txt">脱臼・肉離れ</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img07.png" alt="産後の骨盤ゆがみのイメージ">
              </figure>
              <p class="bl_symptoms_txt">産後の骨盤ゆがみ</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
        </div>
        <!-- /.bl_colUnit bl_colUnit__col3 -->
      </div>
      <!-- /.bl_symptoms_block -->

      <div class="bl_symptoms_block">
        <div class="bl_colUnit bl_colUnit__col24">
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img08.png" alt="便秘のイメージ">
              </figure>
              <p class="bl_symptoms_txt">便秘</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img09.png" alt="スポーツ外傷のイメージ">
              </figure>
              <p class="bl_symptoms_txt">スポーツ外傷</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img10.png" alt="猫背、姿勢改善のイメージ">
              </figure>
              <p class="bl_symptoms_txt">猫背・姿勢改善</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_symptoms">
              <figure class="bl_symptoms_figure el_picture100">
                <img class="bl_symptoms_img" src="./img/symptoms_Img11.png" alt="交通事故のイメージ">
              </figure>
              <p class="bl_symptoms_txt">交通事故</p>
            </div>
            <!-- /.bl_symptoms -->
          </div>
          <!-- /.bl_colItem -->
        </div>
        <!-- /.bl_colUnit bl_colUnit__col4 -->
      </div>
      <!-- /.bl_symptoms_block -->
    </section>
    <!-- / こんなお悩みございませんか？ -->

    <!-- まずは、一度お電話ください！ -->
    <section class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">一度お電話ください！<br>
        <span class="hp_cRed">痛みからの早期改善</span>と<br>
        <span class="hp_cRed">痛みの出にくい体づくり</span>の<br>お手伝いをいたします！</h2>
      <div class="bl_treatment">
        <div class="bl_treatment_pictures">
          <div class="bl_treatment_picture">
            <div class="bl_profile">
              <figure class="bl_profile_figure el_picture56">
                <img class="bl_profile_img" src="./img/staff_img01.jpg" alt="院長：金田雄一郎（柔道整復師）の写真">
              </figure>
              <p class="bl_profile_name">金田雄一郎</p>
              <p class="bl_profile_status">院長：柔道整復師</p>
            </div>
            <!-- /.bl_profile -->
          </div>
          <!-- /.bl_treatment_picture -->
          <div class="bl_treatment_picture">
            <div class="bl_profile">
              <figure class="bl_profile_figure el_picture56">
                <img class="bl_profile_img" src="./img/staff_img03.jpg" alt="スタッフ：設楽和也（鍼灸師）の写真">
              </figure>
              <p class="bl_profile_name">設楽和也</p>
              <p class="bl_profile_status">スタッフ：鍼灸師</p>
            </div>
            <!-- /.bl_profile -->
          </div>
          <!-- /.bl_treatment_picture -->
        </div>
        <!-- /.bl_treatment_pictures -->
        <div class="bl_treatment_txtArea">
          <p class="bl_treatment_txt">
            国家資格（柔道整復師）保有の院長自らが行う施術で、筋肉・神経・関節等へアプローチを行い、痛みからの早期改善を行います。
          </p>
          <ul class="bl_ul hp_bold">
            <li class="bl_li">
              ちょっと痛いけど効果の大きい施術
            </li>
            <li class="bl_li">
              ボキボキしない痛くない施術
            </li>
            <li class="bl_li">
              鍼を用いた深層の痛みを取る施術
            </li>
          </ul>
          <p class="bl_treatment_txt">
            あなたにとっての最適な施術方法を私達と一緒に相談しながら決めましょう！
          </p>
          <p class="bl_treatment_txt">
            一般的な多くの接骨院では、「ボキボキとする痛い施術」を悪い施術と決めつけます。<br>
            ですが、本当は、<span class="hp_cRed">すべての施術方法にメリット、デメリットが有るのです。</span>
          </p>
          <p class="bl_treatment_txt">
            当院では、様々な施術方法のメリット、デメリットをしっかりと説明し、患者さんと一緒に最適な施術方法を模索します。
          </p>
          <p class="bl_treatment_txt">
            さらに、それだけでなく、
          </p>
          <ul class="bl_ul hp_bold">
            <li class="bl_li">
              歪んでしまった関節の動きを正常に戻す施術
            </li>
            <li class="bl_li">
              ゆがみになじんで固くなってしまった筋肉を柔らかくほぐす施術
            </li>
            <li class="bl_li">
              ゆがみが治った骨と筋肉を維持するためのトーレーニング
            </li>
            <li class="bl_li">
              患者様にあった自宅でできるトレーニング方法を提案
            </li>
            <li class="bl_li">
              日常生活における体の使い方の提案
            </li>
          </ul>
          <p class="bl_treatment_txt">
            による<span class="hp_cRed">「痛みの出にくい体づくり」</span>のお手伝いもいたします。
          </p>
        </div>
      </div>
      <!-- /.bl_treatment -->
    </section>
    <!-- / まずは、一度お電話ください！ -->

    <!-- 施術風景のご紹介 -->
    <%# ----------------_treatmentを読み込む---------------- %>
    <%- include('./_treatment.ejs') %>
    <!-- 施術風景のご紹介 -->


    <!-- 人気の月額制施術受け放題サービス一覧 -->
    <section class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">人気の月額制<br><span class="hp_cRed">施術受け放題</span>サービス</h2>
      <p class="el_description_txt">
        当院では、月額制施術受け放題サービスを行っております。会費をお支払いいただけば、<span
          class="hp_bold hp_cRed">1か月間利用し放題</span>のとてもお得なコースです。1週間に2回ほど来院されるのがおすすめですが、各コースごとに最適な来院頻度が異なりますので、<span
          class="hp_bold hp_cRed">ご質問等ございましたら、まずは、一度お電話ください。</span>
      </p>
      <div class="bl_colUnit bl_colUnit__cols21 bl_colUnit__cols21__mBS">
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper">
              <img alt="骨盤ゆがみ・姿勢改善（リアライン・コア）コースのイメージ" src="./img/unlimited_course_bn01.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper">
              <img alt="シニア向け足腰の筋力UP（EMS）コースのイメージ" src="./img/unlimited_course_bn02.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper">
              <img alt="美容鍼ビューティーコースのイメージ" src="./img/unlimited_course_bn03.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
    </section>
    <!-- / 人気の月額制施術受け放題サービス一覧 -->

    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- 当院の9つの特徴 -->
    <section id="id_feature" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">当院の9つの特徴</h2>
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3 ">特徴1：10時～20時まで通しで営業！<span class="hp_cRed">お昼時間でも施術OK！</span>土曜も20時まで！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="営業時間表の画像" src="./img/feature_img01.jpg">
          </figure>
        </div>
        <div class="bl_group2_txtWrapper">
          <p class="bl_group2_txt">
            月曜日から土曜日まで10時~20時（水曜日は10時~15時）まで通し営業しているのは前橋市内で当院だけ！
          </p>
          <p class="bl_group2_txt">
            <span class="hp_cRed">他の接骨院が閉まっている12時～14時も施術</span>いたします。
          </p>
          <p class="bl_group2_txt">
            また、<span class="hp_cRed">営業時間外でも対応可能な限り応急処置を致しますので、一度、お電話ください</span>。院内にスタッフがおりましたら対応いたします。
          </p>
        </div>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴2：<span class="hp_cRed">施術経験10年</span>以上、<span
            class="hp_cRed">施術者数10,351人</span>以上！<br>
          育英メディカル専門学校での講演実績もある<span class="hp_cRed">国家資格保有</span>の院長が治療します！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="金田雄一郎院長の講演時の写真" src="./img/feature_img02.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          私が患者さんと接するなかで最も大切にしていることがあります。それは『心でみる』事です。痛みを抱えて来院される患者さんの体と心を癒す為、患者さんの心の声にしっかりと耳を傾け、毎回最高の手当てを行う事をお約束致します。接骨院はケガや痛みがなければ利用する機会がないと思われるかも知れませんが、西片貝接骨院は違います。違和感やだるい、重苦しい、原因はよく分からないけど辛い、運動教えて欲しいなど、未病気を癒すのも当院の仕事だと思っています。『体資本主義』気になるお悩み、どうぞ遠慮なくご相談下さい。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴3：<span class="hp_cRed">頭痛</span>にヘッドマッサージ、<span
            class="hp_cRed">便秘</span>などのお悩みに鍼治療で施術できます！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="ヘッドマッサージ、鍼治療のイメージ" src="./img/feature_img03.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          頭や首の筋肉が緊張すると様々な不定愁訴へと繋がる事があります。代表的なものに頭痛や眼精疲労・睡眠中の歯ぎしり・イライラなどです。それらを解消する為に心地良い刺激のマッサージを頭や首肩を施術する事により、筋緊張を緩和し、過度な神経の興奮を抑える事で症状緩和及び改善致します。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴4：<span class="hp_cRed">元気な女性スタッフが在籍</span>しているので、デリケートな内容でも相談しやすい！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="金田友美（元気で明るい女性スタッフ）の写真" src="./img/feature_img04.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          治療部位など、男性スタッフに相談しづらい事柄がある場合には女性スタッフが在籍しておりますので遠慮なくお申し付けください。また、治療の際にどうしても、患部の状態を確認する際や電気治療器のつけ外しの際にデリケートな場所を確認しなければいけない場合などには、女性スタッフ同席の上で安心して診察が受けられますのでご安心ください。
          女性特有の身体や心のお悩み事・伝えたい事などありましたら、お気軽にお声掛けください。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴5：<span class="hp_cRed">痛みの出にくい体づくり</span>と<span
            class="hp_cRed">自宅でのケア方法</span>を教えます！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="ダミー" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          当院では患者様と我々スタッフ一丸となり、痛みからの早期改善と痛みの出にくい体作りを目標に日々業務を行なっております。
          急性・慢性に関わらず、運動指導や体の使い方、姿勢などをアドバイスしながら、より良い方向に導けるように努めております。受け身ではなく、良くなるように一緒に治して行きましょう。また院内でのリハビリ・トレーニングはもちろん、自宅でもひとりで出来るやり方も丁寧にお伝えしますので、分からない事など有りましたら遠慮なく質問して下さい。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴6：<span class="hp_cRed">6台（表3台+裏3台）分の駐車場</span>がございます！草むしりもバッチリ！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="駐車場の写真" src="./img/feature_img06.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          当院には院の表(北側)に3台、裏(南側)に3台、計6台の駐車場を完備しています。普段から雑草などの手入れ・周囲の掃除もしっかりしております。表の駐車場は混雑時、少々停めづらく感じる場合がありますが、駐車が苦手な方はお手伝い致しますのでお声がけ下さい。また来院当日、どこに駐車すれば良いか分からない場合はお電話下さい。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴7：<span class="hp_cRed">月額制の美容鍼受け放題サービス</span>がございます！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="美容鍼施術を受けているときのイメージ" src="./img/feature_img07.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          当院の美容鍼は、全く痛くない、気持ちの良い美容鍼になります。
          1回の施術で効果を実感していただける事はもちろん、長期的な施術では様々な肌トラブルに対してのケア・予防・メンテナンスが可能です。

          現在、美容鍼を継続して受けてくださる方々も最初は
          ・鍼灸治療に興味はあるけど、鍼を刺されるのが怖い
          ・美容鍼を受けてみたかったけど機会がなかった
          ・自分の肌を今よりも綺麗にしたい
          など、様々な理由をお持ちでした。

          そんな方々にお勧めしたい美容鍼ですが、週1回以上来院できる方のためのお得なコースもご用意しております。

          通常1回の施術費3000円を、1ヶ月の間何回施術を受けても月額12000円の定額コースをご用意しておりますので、より集中的に肌の状態を向上させたい方に大変お勧めです。
          さらに施術後は、炭酸アトマイザーを用いて、ヒアルロン酸やコラーゲンを配合した美容液ミストを顔全体へ噴霧し、保湿潤いを与えて完了致します。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴8：<span class="hp_cRed">院内バリアフリー＆足腰が悪い人のサポート体制</span>あり！</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="院内バリアフリーの写真、車椅子完備の写真" src="./img/feature_img08.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt hp_cRed">
          院内は基本的に段差のない、フラットなバリアフリー設計になっていますので、ご高齢の方でも安心してご利用して頂けます。
          また、急患で足腰を痛めてしまい、自立歩行困難になった場合でも車椅子、松葉杖も常備していますので安心してご利用頂けます。その他、玄関入り口には取手の長い靴べらもご用意しておりますので、どうぞお気軽にご利用下さい。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">特徴9：<span class="hp_cRed">交通事故</span>による怪我の治療は、よく相談して<span
            class="hp_cRed">施術回数を一緒に決められます！</span></h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="交通事故のイメージ" src="./img/feature_img09.jpg">
          </figure>
        </div>
        <p class="bl_group2_txt">
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
      <!-- / .bl_group2 -->
    </section>
    <!-- / 当院の9つの特徴 -->

    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- 施設紹介 -->
    <section id="id_facility" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">清潔でリラックスできる<br>院内環境づくり</h2>
      <p class="el_description_txt">
        患者様からもキレイと評判の院内をご紹介します。
      </p>
      <div class="bl_colUnit bl_colUnit__col23">

        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">清潔感あふれる受付</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="受付の写真" src="./img/facility_img01.jpg">
            </figure>
            <p class="bl_group1_txt">
              入口正面に構える当院の受付です。白を基調とした清潔感あふれる受付です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">待合室もきれいで清潔</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="待合室の写真" src="./img/facility_img02.jpg">
            </figure>
            <p class="bl_group1_txt">
              待合室には、お茶とちょっとしたお菓子を常備しているので、気軽につまんでいってください。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">アロマ、観葉植物のあるリラックス空間</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="観葉植物、アロマの写真" src="./img/facility_img03.jpg">
            </figure>
            <p class="bl_group1_txt">
              患者様にリラックスしていただけるようアロマを炊いております。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">清潔感あふれる施術室</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="施術室の写真" src="./img/facility_img04.jpg">
            </figure>
            <p class="bl_group1_txt">
              施術室も掃除を徹底しているのでキレイです。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">空気清浄機、加湿器で空気もきれい</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="空気清浄機の写真" src="./img/facility_img05.jpg">
            </figure>
            <p class="bl_group1_txt">
              空気清浄機常備で空気もキレイです。季節によっては、加湿器による湿度調節も行っています。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">サーキュレーターで院内換気</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="サーキュレーターの写真" src="./img/facility_img06.jpg">
            </figure>
            <p class="bl_group1_txt">
              コロナウィルス対策のため、サーキュレーターにより院内の空気を循環させています。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">足腰に痛みのある方は座って靴履き</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="入り口付近にある靴を履くときに使用する椅子の写真" src="./img/facility_img07.jpg">
            </figure>
            <p class="bl_group1_txt">
              足腰に痛みのある患者様でも落ち着いて靴を履いていただけるよう、玄関には椅子を設置してあります。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">足腰を痛めた方用の車椅完備</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="車椅子の写真" src="./img/facility_img08.jpg">
            </figure>
            <p class="bl_group1_txt">
              歩けないほど重症な患者様用に車椅子も完備しております。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">トイレの流し周りも清潔</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="トイレの流し周りの写真" src="./img/facility_img09.jpg">
            </figure>
            <p class="bl_group1_txt">
              トイレの流し周りも最低でも朝、昼の2回は掃除を行っているので清潔です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3 -->
    </section>
    <!-- / 施設紹介 -->


    <!-- 営業日毎の徹底清掃でキレイをキープ -->
    <section id="id_cleaning" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">営業日毎の徹底清掃で<br>キレイをキープ</h2>
      <p class="el_description_txt">
        営業日毎の掃除を徹底して行うことでこそ、細かな仕事にも手を抜かず患者様と向き合うことができると考えています。院長・スタッフ共々、掃除を徹底して行うことで、「患者様に安心してもらえるリラックス空間づくり」と「細部にもこだわる施術への姿勢」を養っています。
      </p>
      <div class="bl_colUnit bl_colUnit__col23">

        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">スリッパのアルコール除菌</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="スリッパ清掃の写真" src="./img/cleaning_img01.jpg">
            </figure>
            <p class="bl_group1_txt">
              スリッパは、アルコール液を吹きかけるだけでなく、一足一足丁寧にふいています。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">窓拭きも営業日毎に欠かさず行ってます</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="窓拭きの写真" src="./img/cleaning_img02.jpg">
            </figure>
            <p class="bl_group1_txt">
              気持ちよくご来院いただけるよう、玄関の窓ガラスの清掃も欠かしません。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">ソファもしっかりアルコール除菌</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="ソファ清掃の写真" src="./img/cleaning_img03.jpg">
            </figure>
            <p class="bl_group1_txt">
              患者様がお座りになるソファもアルコール液を吹きかけて、丁寧に拭いているので清潔です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">トイレもアルコール除菌＆徹底掃除</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="トイレ清掃の写真" src="./img/cleaning_img04.jpg">
            </figure>
            <p class="bl_group1_txt">
              朝と昼、1日で最低でも2回は必ず掃除をしています。急遽時間が空いたタイミングでも、ササッと掃除をしているので清潔です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">お客様ごとにフェイスタオルを交換</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="フェイスタオル交換の写真" src="./img/cleaning_img05.jpg">
            </figure>
            <p class="bl_group1_txt">
              一人施術するごとに必ずフェイスタオルを交換しているので、間接的に前の患者様と触れる心配もございません。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">肌に触れるスポンジ部の交換</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="スポンジ交換の写真" src="./img/cleaning_img06.jpg">
            </figure>
            <p class="bl_group1_txt">
              肌に触れるスポンジ部分も毎日キレイなものに交換しています。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3 -->
    </section>
    <!-- / 営業日毎の徹底清掃でキレイをキープ -->


    <!-- 機材もたくさんございます -->
    <section id="id_equipment" class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">多様な機材で痛み改善<br>お悩み解決にアプローチ</h2>
      <p class="el_description_txt">
        マッサージや鍼施術だけでなく、多様な機材を活用して患者様のお悩み解決にアプローチいたします。
      </p>
      <div class="bl_colUnit bl_colUnit__col23">

        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">ウォーターベッド（リラクゼーション）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="ウォーターベッドの使用イメージ" src="./img/devices_img01.jpg">
            </figure>
            <p class="bl_group1_txt">
              全身マッサージによるリラクゼーション効果がございます。気持ちよくて寝てしまう患者様もいらっしゃいます。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">ドクターメドマー（脚の血流改善）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="ドクターメドマーの使用イメージ" src="./img/devices_img02.jpg">
            </figure>
            <p class="bl_group1_txt">
              空気の圧力で血流を改善します。足のだむみ、むくみ、しびれ感、ねんざの腫れの早期回復に効果的です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">干渉波治療機（コリ、痛みの緩和）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              全身の筋肉、関節のコリや痛みを和らげます。肉離れ等のに有効です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">低周波治療機（痛みの緩和）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              筋肉、関節のコリ（関節メイン）の痛みを和らげます。関節痛、関節ねんざの早期回復に有効です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">バイオトレーナー（筋力UPサポート）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              深層の筋肉に刺激を与えることで、筋力UPを促します。膝痛持ちの方、ももの筋肉が弱い方は、運動しながら使うことで、筋力UPを促します。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">超音波治療機（痛み緩和）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              体の深層の筋肉を温める（2～3℃）ことにより、血行を促進し、痛み(40肩、50肩など）を緩和。肉離れ、アキレス腱の痛み、寝違え、坐骨神経痛等の治療にも効果的です。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">超音波治療機（骨形成の促進）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              骨の形成を促進し、骨折、骨のひびの治療期間を約40％短縮できます。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">ホットパック（筋肉、関節の痛み緩和）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              関節、筋肉の表層を温めることにより、痛みを緩和させます。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <p class="bl_group1_ttl">炭酸アトマイザー（肌トラブル改善）</p>
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
            </figure>
            <p class="bl_group1_txt">
              美容鍼した後に、炭酸水を顔に吹きかけることで、血流を良くし、お肌のトラブルを改善します。
            </p>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->

      </div>
      <!-- /.bl_cardUnit bl_cardUnit__col3 -->

    </section>
    <!-- / 機材もたくさんございます -->

    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- 施術の流れ -->
    <section id="id_flow" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">施術の流れ</h2>
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">①来院・問診票の記入</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          ご来院になりましたら、まず受付にて問診票をお渡し致します。いつ、どこで、どのように痛めたかなどの必要事項をご記入いただきます。<br>
          また、来院される前に、お電話にてご予約頂けますと受付から施術までをスムーズに行えます。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">②カウンセリング</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          お体の状態・状況を詳しく知るに、お悩みの症状や日常生活について質問をさせていただきます。患者様からも質問や疑問などがありましたら遠慮なくご相談ください。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">③体の状態</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          痛みや悩みの原因を特定する為に、問診内容に従い必要な検査（徒手検査、整形外科的テスト法、神経反射、知覚検査、運動器機能検査、姿勢検査など）を行います。<br>
          また、痛み原因をつくっている場所を特定するために、日常生活での動作のクセや姿勢、ゆがみの有無なども必要に応じで確認させていただきます。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">④施術方針の説明・施術</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          検査終了後は、体のどの部位をどのように痛めているかや、痛みの原因を丁寧にご説明させていただきます。<br>
          その後、患者様の状況に合わせながら、ご一緒に施術方針を立て、早期に回復する為の施術（整復固定処置や手技・電気・超音波・温冷療法などを組み合わせた施術）を行います。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">⑤施術後の検査</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          施術後、痛みが軽減しているか？関節の動きが大きくなっているか？ギプスや包帯、テーピングなどによる固定が適度に行われているか？などの状態を確認致します。ケガであれ、慢性的な症状であれ、施術後は楽になったと皆さんから喜ばれています。来院前の状態との体の変化を実感していただける方がほとんどです。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">⑥アフターケアアドバイス</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          施術や検査で気付いた点をご説明し、どのくらいの期間安静が必要なのか？どのくらいで痛みや腫れが回復するのか？また、家でどんな事をするとその痛みが回復しやすいのか？日常生活動作や姿勢、運動指導・筋力トレーニング・ストレッチなどのセルフケアもご提案致します。
        </p>
      </div>
      <!-- / .bl_group2 -->
      <div class="bl_group2 clearfix">
        <h3 class="bl_group2_ttl el_h3">⑦次回予約</h3>
        <div class="bl_group2_imgWrapper">
          <figure class="bl_group2_figure el_picture56">
            <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x150.png">
          </figure>
        </div>
        <p class="bl_group2_txt">
          施術後の体の状態や予後を考えて、通院頻度をご案内させていただきます。体の状態により様々ですが、早期回復を念頭に、なぜ継続通院することが必要なのか？あまり通院出来ない場合はどうなのか？など個々に合わせた通院計画を行います。
          また、予約した後に急遽ご都合が合わなくなった場合でも、お電話や専用LINEでの予約変更が可能ですのでご相談下さい。
        </p>
      </div>
      <!-- / .bl_group2 -->
    </section>
    <!-- / 施術の流れ -->

    <!-- 施術風景のご紹介 -->
    <%# ----------------_treatmentを読み込む---------------- %>
    <%- include('./_treatment.ejs') %>
    <!-- 施術風景のご紹介 -->



    <!-- 施術料金 -->
    <section id="id_fee" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">施術料金</h2>
      <div class="el_description_txt">
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">住所</span>
          <span class="bl_info_description">
            ：前橋市西片貝町4-15-5 エルドラードハイツ103
          </span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">電話/FAX</span><span class="bl_info_description">：<a
              href="tel:027-212-2700">027-212-2700</a></span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">受付時間</span><span class="bl_info_description">：月曜～土曜10:00～20:00（水曜のみ
            10:00~15:00）</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">休診日</span><span class="bl_info_description">：日曜/祝祭日不定休</span>
        </p>
      </div>
      <div class="bl_fee_outer">
        <div class="bl_colUnit bl_colUnit__cols21">
          <div class="bl_colItem">
            <div class="bl_fee">
              <h3 class="bl_fee_ttl">
                保険診療（けがをした場合）
              </h3>
              <h4 class="bl_fee_subTtl">
                【3割負担の方】
              </h4>
              <p class="bl_fee_txt">
                初検時：720円～1220円<br>
                2回目以降：270円～520円
              </p>
              <h4 class="bl_fee_subTtl">
                【2割負担の方】
              </h4>
              <p class="bl_fee_txt">
                初検時：480円～810円<br>
                2回目以降：180円～340円
              </p>
              <h4 class="bl_fee_subTtl">
                【1割負担の方】
              </h4>
              <p class="bl_fee_txt">
                初検時：240円～410円<br>
                2回目以降：90円～170円
              </p>
              <p class="el_indent_asterisk">
                医療助成・交通事故（自賠責保険）・労災保険では負担金はありません。
              </p>
              <p class="el_indent_asterisk">
                特別機器施術や検査、材料費は保険給付対象外となりご負担頂きます。
              </p>
            </div>
            <!-- /.bl_fee -->
          </div>
          <!-- /.bl_colItem -->
          <div class="bl_colItem">
            <div class="bl_fee">
              <h3 class="bl_fee_ttl">
                自費診療（けが以外の場合）
              </h3>
              <h4 class="bl_fee_subTtl">
                【整体マッサージ】
              </h4>
              <p class="bl_fee_txt">
                A)30分3,000円<br>
                B)60分6,000円<br>
                C)90分9,000円
              </p>
              <h4 class="bl_fee_subTtl">
                【はりマッサージ】
              </h4>
              <p class="bl_fee_txt">
                A)30分3,000円<br>
                B)60分6,000円
              </p>
              <h4 class="bl_fee_subTtl">
                【美容鍼】
              </h4>
              <p class="bl_fee_txt">
                A)30分3,000円
              </p>
              <h4 class="bl_fee_subTtl">
                【EMS筋肉トレーニング】
              </h4>
              <p class="bl_fee_txt">
                A)30分3,000円
              </p>
              <p class="el_indent_asterisk">
                初回の方はカウンセリング・材料費等で別途1,700円ご負担いただきます。
              </p>
              <p class="el_indent_asterisk">
                料金はすべて税込価格となります。
              </p>
              <p class="el_indent_asterisk">
                各コースを組合わせてご利用頂くことも可能です。
              </p>
            </div>
            <!-- /.bl_fee -->
          </div>
          <!-- /.bl_colItem -->
        </div>
        <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
      </div>
      <!-- /.bl_fee_outer -->
      <div class="bl_fee_outer">
        <div class="bl_fee">
          <h3 class="bl_fee_ttl">
            人気の月額制施術受け放題サービス一覧
          </h3>
          <p class="el_description_txt">
            1か月間利用し放題の定額コース。好きな時、何回でも通って、効果を実感。
          </p>
          <h4 class="bl_fee_subTtl">
            【骨盤矯正・姿勢改善コース】
          </h4>
          <p class="bl_fee_txt">
            月額：8,000円（1回約30分）<br>
            骨盤と背骨のゆがみを整える運動補助具を使い、慢性腰痛、肩こり、猫背、ストレートネックの改善や膝や股関節の痛みにも効果が見込めます。
          </p>
          <h4 class="bl_fee_subTtl">
            【EMS筋肉トレーニングコース】
          </h4>
          <p class="bl_fee_txt">
            月額：10,000円（1回約30分）<br>
            体深部の筋肉を電気治療機器を使い刺激することで筋肉の強化、筋肉が動くことで血液循環を促進し、内臓脂肪減少にも効果が見込めます。
          </p>
          <h4 class="bl_fee_subTtl">
            【美容鍼ビューティーコース】
          </h4>
          <p class="bl_fee_txt">
            月額：12,000円（1回約30分）<br>
            1回の施術で約2000回以上、細くて短い専用の鍼で顔全体をくまなく刺激することで、むくみ取り・しわ・たるみの改善・肌質改善・ニキビ改善・小顔効果などが期待できます。痛みはほとんどないので刺激に弱い方でもご利用頂けます。
          </p>
          <p class="el_indent_asterisk">
            初回の方はカウンセリング・材料費等で別途1,700円ご負担いただきます。
          </p>
          <p class="el_indent_asterisk">
            料金はすべて税込価格となります​。
          </p>
          <p class="el_indent_asterisk">
            年齢や基礎疾患の有無などでお受けできない場合もございます。
          </p>
        </div>
        <!-- /.bl_fee -->
      </div>
      <!-- /.bl_fee_outer -->
    </section>
    <!-- / 施術料金 -->


    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- アクセス・駐車場（6台） -->
    <section id="id_access" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">アクセス・駐車場（6台）</h2>
      <div class="el_description_txt">
        <p>
          駐車場は、当院前方に3台、裏側に3台の計6台分ございます。ご来院前に一度、お電話いただけると駐車場の空き状況をお伝えできます。
        </p>
      </div>
      <div class="el_description_txt">
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">住所</span>
          <span class="bl_info_description">
            ：前橋市西片貝町4-15-5 エルドラードハイツ103
          </span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">電話/FAX</span><span class="bl_info_description">：<a
              href="tel:027-212-2700">027-212-2700</a></span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">受付時間</span><span class="bl_info_description">：月曜～土曜10:00～20:00（水曜のみ
            10:00~15:00）</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">休診日</span><span class="bl_info_description">：日曜/祝祭日不定休</span>
        </p>
      </div>
      <div class="bl_colUnit bl_colUnit__cols21">

        <div class="bl_colItem">
          <div class="bl_googleMap_wrapper">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.9151115858417!2d139.09252231527827!3d36.387048980035715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ef245995964cb%3A0x367a2ff6c060a5bd!2z6KW_54mH6LKd5o6l6aqo6Zmi!5e0!3m2!1sja!2sjp!4v1595987619897!5m2!1sja!2sjp"
              width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0"></iframe>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper el_picture60">
              <img alt="表の駐車場の写真" src="./img/parking_img01.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper el_picture60">
              <img alt="裏の駐車場への入口の写真" src="./img/parking_img02.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper el_picture60">
              <img alt="裏の駐車場の写真" src="./img/parking_img03.jpg">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->

      </div>
      <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
    </section>
    <!-- / アクセス・駐車場（6台） -->

    <!-- 受付時間（お昼時も歓迎） -->
    <section id="id_time" class="ly_container ly_container__paddingContents js_positionNow">
      <h2 class="el_h2">受付時間（お昼時も歓迎）</h2>
      <p class="el_description_txt">
        月曜日から土曜日まで10時~20時（水曜日は10時~15時）まで通し営業しているのは前橋市内で当院だけ！<span class="hp_cRed">他の接骨院が閉まっている12時～14時も施術</span>いたします。
      </p>
      <div class="el_description_txt">
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">住所</span>
          <span class="bl_info_description">
            ：前橋市西片貝町4-15-5 エルドラードハイツ103
          </span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">電話/FAX</span><span class="bl_info_description">：<a
              href="tel:027-212-2700">027-212-2700</a></span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">受付時間</span><span class="bl_info_description">：月曜～土曜10:00～20:00（水曜のみ
            10:00~15:00）</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">休診日</span><span class="bl_info_description">：日曜/祝祭日不定休</span>
        </p>
      </div>
      <figure class="bl_group1_imgWrapper">
        <img alt="受付時間表の画像" src="./img/reception_hours_img01.jpg">
      </figure>
      <p>
        ※時間外急患の方でも可能な限り対応いたしますのでお電話ください。
      </p>
    </section>
    <!-- / 受付時間（お昼時も歓迎） -->


    <!-- / よくいただくご質問 -->
    <section class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">よくいただくご質問</h2>
      <div id="id_accordion" class="bl_accordion">
        <h3 class="bl_accordion_title js_accordion_title">西片貝接骨院では、どのような施術ができますか？</h3>
        <div class="bl_accordion_content">
          <p>
            骨折・脱臼・ねんざ・打撲・挫傷などのケガに対して、包帯その他固定具、超音波治療器や電気・温熱療法、徒手整復、手当て施術を致します。<br>
            例として、ケガをして来院された場合、どこがどのようにケガをしたのかを診させていただき、炎症に対しての冷却、ケガの状態に合わせての固定などをさせていただきます。<br>
            施術後は状態の経過を確認・観察しながら、通院・リハビリ・トレーニングなどを組み合わせて早期の回復を一緒に目指します。<br>
            また、ケガ以外にも普段から気になる腰痛や肩凝り首凝り、頭痛や足のダルさ、便秘など様々な不調でお悩みの方が来院しています。</p>
        </div>
        <!--/.bl_accordion_content-->
        <h3 class="bl_accordion_title js_accordion_title">健康保険は使えますか？</h3>
        <div class="bl_accordion_content">
          <p>骨折・脱臼・ねんざ・打撲・挫傷のケガに対して各種健康保険がご利用いただけます。<br>
            また、労働災害や通勤災害では労災保険が、交通事故による痛みでは自動車損害賠償責任保険が使えます。<br>
            他にも、中学生までは医療助成制度があり窓口負担金が材料費など一部を除きかからなく、また母子家庭・父子家庭などの医療助成制度などもご利用いただけます。<br>
            ただし、健康保険制度の正しい運用の為にも、ケガの経緯を問診させていただきますので、ご理解のほどよろしくお願いいたします。</p>
        </div>
        <!--/.bl_accordion_content-->
        <h3 class="bl_accordion_title js_accordion_title">施術費用は、いくらぐらいになりますか？</h3>
        <div class="bl_accordion_content">
          <p>
            けがをして健康保険を利用した場合、保険負担割合により自己負担額が変わりますが、施術料の目安としては3割負担の場合で、初診料約1300円、次回以降は約500円ほどになります。<br>
            接骨院ではテーピング、包帯やサポーターなどの固定具・衛生材料費などは健康保険対象外となり別料金となります。<br>
            また当院では、マッサージや鍼治療、骨盤のゆがみ改善などの自費施術も承っております。<br>
            お得な定額コース料金も設定させていただいておりますので、更に詳しく知りたい方はホームページの料金欄や、直接のお電話・LINEでのご相談にて、お気軽にお問い合わせ下さい。</p>
        </div>
        <!--/.bl_accordion_content-->
        <h3 class="bl_accordion_title js_accordion_title">初めて受診するのですが、何を持っていけばいいですか？</h3>
        <div class="bl_accordion_content">
          <p>ご自身の健康保険証をお持ちください。ケガでの治療に対してご利用いただけます。<br>
            また、施術を受ける際の服装は私服で構いませんが、可能であれば動きやすい楽な服装の方が、施術を心地良く受けていただけます。<br>
            更にリハビリや運動がしやすくなり、効果も高まります。着替えをお持ちいただいて院内で着替える事も可能です。</p>
        </div>
        <!--/.bl_accordion_content-->
        <h3 class="bl_accordion_title js_accordion_title">現在、他の病院・整形外科または整骨院・接骨院に通院中ですが、治療出来ますか？</h3>
        <div class="bl_accordion_content">
          <p>しっかりと治療させていただきます。しかし健康保険制度上の観点から、複数の医療機関で施術することは特別な理由がない限り望ましくありません。<br>
            また、同じ日に同じ箇所の施術も上記と同様に特別な理由がある場合を除き、出来ませんので、ご理解いただきますようよろしくお願い致します。</p>
        </div>
        <!--/.bl_accordion_content-->
      </div>
      <!--/#accordion-->

    </section>
    <!-- / よくいただくご質問 -->

    <!-- CTA -->
    <%# ----------------_ctaを読み込む---------------- %>
    <%- include('./_cta.ejs') %>
    <!-- CTA -->

    <!-- スタッフ一同ご来院お待ちしております -->
    <section class="ly_container ly_container__paddingContents">
      <h2 class="el_h2">スタッフ一同ご来院お待ちしております</h2>
      <div class="bl_colUnit bl_colUnit__cols21_noMarginBottom">
        <div class="bl_colItem">
          <div class="bl_group1">
            <figure class="bl_group1_imgWrapper el_picture56">
              <img alt="写真：HTMLコードが写っている画面" src="https://placehold.jp/150x50.png">
            </figure>
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
        <div class="bl_colItem">
          <div class="bl_group1">
            当院のコンセプトは『体資本主義』です。<br>
            <span class="hp_cRed hp_bold">痛みからの早期回復と痛みの出ない体づくり</span>を提供し、地域医療のかかりつけ接骨院となれるよう、これからも地域社会に貢献してまいります。
          </div>
          <!-- /.bl_group1 -->
        </div>
        <!-- /.bl_colItem -->
      </div>
      <!-- /.bl_cardUnit bl_cardUnit__cols21 -->
      <div class="bl_info">
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">住所</span>
          <span class="bl_info_description">
            ：前橋市西片貝町4-15-5 エルドラードハイツ103
          </span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">駐車場</span><span class="bl_info_description">：6台完備（表3台＋裏3台）</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">電話/FAX</span><span class="bl_info_description">：<a
              href="tel:027-212-2700">027-212-2700</a></span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">Email</span><span class="bl_info_description">：nishiseko.jto@gmail.com</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">受付時間</span><span class="bl_info_description">：月曜～土曜10:00～20:00（水曜のみ
            10:00~15:00）</span>
        </p>
        <p class="bl_info_txtWrapper">
          <span class="bl_info_ttl">休診日</span><span class="bl_info_description">：日曜/祝祭日不定休</span>
        </p>
        <p class="el_indent_asterisk">
          時間外急患の方でも可能な限り対応いたしますのでお電話ください。
        </p>
      </div>
    </section>
    <!-- / スタッフ一同ご来院お待ちしております -->


    <!-- トップへ戻る -->
    <div class="bl_toTop">
      <a href="#" class="bl_toTop_chevron"></a>
    </div>
    <!-- / トップへ戻る -->

    <!-- 下タブ -->
    <div class="bl_fixedFooter">
      <a href="#id_access" class="bl_fixedFooter_area bl_fixedFooter_area__access">
        <p class="bl_fixedFooter_txt">アクセス</p>
      </a>
      <a href="tel:027-212-2700" class="bl_fixedFooter_area bl_fixedFooter_area__call">
        <p class="bl_fixedFooter_txt">お電話はこちら</p>
      </a>
    </div>
    <!-- / 下タブ -->
  </main>

  <!-- FOOTER -->
  <%# ----------------_footerを読み込む---------------- %>
  <%- include('./_footer.ejs') %>
  <!-- / FOOTER -->

</body>

</html>